@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&family=Tinos&display=swap');
.font1{
    font-family: 'Noto Serif TC', serif;
}

.shadow1{
    box-shadow: 5px 5px 12px rgb(0 0 0 / 0.9);
}
.shadow2{
    box-shadow: 3px 3px 15px rgb(0 0 0 / 0.3);
}